/** { border: 1px solid black; }*/

h1 {
    text-align: center;
}

.cat {
  text-align: center;
}

.click-count {
  text-align: center;
}

.cat-name {
  text-align: center;
}

.cat-list {
  text-align: center;
}

.admin-panel {
  text-align: center;
}

.custom {
    width: 60px !important;
    height: 30px !important;
}

.admin-buttons {
  text-align: right;
}
